.DS_Store

node_modules/
src/**/*.ts
src/**/*.js.map
test

tools/

node_modules/**/*
build
ReactNativeKakao.xcodeproj/xcuserdata/**/*
ReactNativeKakao.xcodeproj/project.xcworkspace/**/*
.idea
.gradle/
gradlew
gradlew.bat
gradle/
*.properties
*.iml
npm-debug.log
Examples/