<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeffgukang.ReactNativeKakao">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:supportsRtl="true">
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>
</manifest>
